* {
  box-sizing: border-box;
  font-family: Montserrat , sans-serif;
}

.app {
  font-size: 15px;
}

.main {
  background-color: #f3f5f7;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.063);
  min-height: 100vh;
  width: 100vw;
}

.card {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.159);
}

.green-button {
  align-items: center;
  background-color: #3dbb56;
  border: none;
  border-radius: 0.5em;
  color: white;
  display: flex;
  font-size: 1em;
  justify-content: center;
  padding: 0.5em 0.8em;
}


.blue-button {
  background-color: #277eaf;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-weight: 600;
  padding: 0.5em;
  text-transform: uppercase;
}

/* ----------------------------------------/
/------------------HEADER------------------/
/---------------------------------------- */

.header {
  align-items: center;
  background-color: #004267;
  color: white;
  display: flex;
  height: 6em;
  justify-content: space-between;
  padding: 0.5em 4em;
  width: 100vw;
}

.header img {
  height: 100%;
}

.header h3 {
  font-weight: 500;
}

/* ----------------------------------------/
/-----------------NAV HOME-----------------/
/---------------------------------------- */

.home-nav-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.home-nav-items a {
  text-decoration: none;
}

.home-nav-items h3 {
  color: #277eaf;
  font-weight: 500;
}

.back-button {
  background-color: white;
  border: none;
  padding: 0;

}

.back-button img {
  cursor: pointer;
  height: 4em;
}

.back-and-cart-nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5em 3em;
}

.shopping-cart-button {
  align-items: center;
  display: flex;
  height: 4em;
  justify-content: center;
  position: relative;
  width: 4em;
}

.shopping-cart-button img {
  height: 4em;
}

.shopping-cart-size {
  align-items: center;
  bottom: 9px;
  color: white;
  display: flex;
  font-size: 1.2em;
  font-weight: 600;
  height: 20px;
  justify-content: center;
  left: 22px;
  position: absolute;
  width: 20px;
}

/* ----------------------------------------/
/-----------LISTAGEM DE PRODUTOS-----------/
/---------------------------------------- */

.product-list-page {
  width: 100vw;
}

.product-list-page-1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 0 2em 2em;
}

.main-product-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ----------------------------------------/
/----------LISTAGEM DE CATEGORIAS----------/
/---------------------------------------- */

.category-list * {
  padding: 0;
}

.category-list {
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  padding: 1em;
}

.category-list h3 {
  color: #277eaf;
  font-weight: 500;
  margin: 0;
}

.category-list li {
  color: gray;
  line-height: 3em;
  list-style-type: none;
}

/* ----------------------------------------/
/------------------BUSCA-------------------/
/---------------------------------------- */

.search-div {
  background-position: 50% 108%;
  background-repeat: no-repeat;
  background-size: 55em 37em;
  display: flex;
  height: 23em;
  justify-content: center;
  margin: 1em;
  width: 100%;
}

.search {
  align-items: flex-end;
  border-bottom: 1px solid #bbcbd5;
  display: flex;
  padding: 2em;
  width: 80%;
}

.search-div label {
  color: grey;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 100%;
}

.search-div input {
  background-color: rgb(225, 225, 225);
  border: none;
  border-bottom-left-radius : 30px;
  border-top-left-radius : 30px;
  margin: 0.2em 0 0 -1em;
  padding: 0.5em;
  width: 100%;
}

.search-div button {
  background-color: rgb(225, 225, 225);
  border: none;
  border-bottom-right-radius : 30px;
  border-top-right-radius : 30px;
  color: grey;
  height: 2.18em;
  margin-left: -1em;
}

/* ----------------------------------------/
/-------------CARDS DE PRODUTOS------------/
/---------------------------------------- */

.products {
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
}

.product-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 290px;
  margin: 1em;
  width: 220px;
}

.card * {
  text-decoration: none;
}

.card-title {
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  height: 15%;
}

.card-title h4 {
  color: #277eaf;
  font-weight: 600;
  overflow: hidden;
  padding: 0 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card a {
  height: 80%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.price-shipping {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 1.5em;
}

.card-image-div {
  align-items: center;
  align-self: center;
  display: flex;
  height: 140px;
  width: 100%;
}

.card-image-div img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.card-price {
  align-self: flex-start;
  color: #004267;
  font-size: 1.5em;
  padding-top: 0.3em;
}

.free-shipping {
  align-self: flex-start;
  color: #3dbb56;
}

.add-to-cart {
  align-self: center;
  padding-bottom: 1em;
}

/* ----------------------------------------/
/------------PÁGINA DE DETALHES------------/
/---------------------------------------- */

.detail-main {
  display: flex;
  flex-direction: column;
  padding: 3em 5em;
}

.details-free-shipping {
  align-items: center;
  background-image: linear-gradient(to right, rgb(152, 245, 160), #41cc68ee);
  border-radius: 1em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.159);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 170px;
}

.details-free-shipping img {
  height: 3.5em;
}

.details-free-shipping div {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.7em;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  line-height: 1em;
  text-shadow: 1px 1px 10px rgba(9, 87, 25, 0.255);
  width: 3em;
}

.detail-title-div {
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.detail-title-div h1 {
  color: #004267;
  font-weight: 400;
}

.details {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.detail-img-div {
  justify-self: center;
  width: 60%;
}

.detail-img-div img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.detail-specs-card {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-self: center;
  padding: 3em;
  width: 90%;
}

.low-price {
  align-items: center;
  display: flex;
}

.low-price h4 {
  color: grey;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  text-decoration: line-through;
  text-decoration-color: rgb(253, 70, 70);
}

.low-price img {
  height: 3em;
  margin: 0.5em;
}

.detail-specs-card h6 {
  color: grey;
  font-weight: 500;
  margin: 1em 0;
}

.detail-specs-card h2 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.5em 0;
}

.detail-specs-card ul {
  margin-bottom: 3em;
}

.detail-specs-card li {
  line-height: 2em;
  list-style: circle;
}

/* ----------------------------------------/
/----------------AVALIAÇÕES----------------/
/---------------------------------------- */

.evaluation-section {
  background-color: white;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 35em;
  padding: 5em;
}

.evaluation-section h2 {
  color: #277eaf;
  font-weight: 500;
  text-transform: uppercase;
}

.evaluation-form {
  width: 800px;
}

.evaluation-form-div {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.evaluation-form-div div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em 1em 0;
}

.user-rate {
  background-color: white;
  border: 1px solid #bbcbd5;
  border-radius: 0.7em;
  margin: 3em;
}

.user-rate h5 {
  color: #277eaf;
  font-weight: 600;
}

.evaluation-email input {
  background-color: #eaf0f3;
  border: none;
  border-radius: 0.5em;
  height: 2em;
  padding-left: 1em;
  width: 100%;
}

.evaluation-message textarea {
  background-color: #eaf0f3;
  border: none;
  border-radius: 0.5em;
  height: 4em;
  padding-left: 1em;
  width: 100%;
}

/* ----------------------------------------/
/------------PÁGINA DO CARRINHO------------/
/---------------------------------------- */

.cart-empty-message {
  align-items: center;
  background-color: white;
  background-position: center;
  background-size: 100% 150%;
  box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.063);
  display: flex;
  height: 76vh;
  justify-content: center;
  width: 100vw;
}

.cart-empty-message h1 {
  color: #004267;
  font-size: 3em;
  font-weight: 400;
  margin: -3em 0 0;
}

.cart-main {
  background-position: 90% -5%;
  background-repeat: no-repeat;
  background-size: 30em;
  display: flex;
  flex-direction: column;
  padding: 3em 7em;
}

.cart-main h1 {
  color: #004267;
  font-weight: 500;
  margin: 3em 0;
  text-transform: uppercase;
}

.cart-main img {
  height: 4em;
}

.cart-main ul {
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 95%;
}

.cart-item {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  margin: 2em 0;
}

.cart-item button {
  background-color: #277eaf;
  border: none;
  border-radius: 3em;
  color: white;
  font-size: 1em;
  font-weight: 700;
  height: 1.5em;
  margin: 0.1em;
  padding: 0;
  width: 1.5em;
}

.cart-quantity {
  display: inline;
}

.title-li {
  border-bottom: 1px solid #bbcbd5;
  display: grid;
  grid-template-columns: 5.8fr 1fr 2fr;
}

.title-li h5 {
  color: #277eaf;
  font-weight: 500;
  text-transform: uppercase;
}

.total-price-li {
  border-top: 1px solid #bbcbd5;
  display: grid;
  grid-template-columns: 7fr 2fr;
  padding: 1em 0 0;
}

.total-price-li h3 {
  align-self: center;
  color: #004267;
  font-weight: 500;
  justify-self: end;
  margin: 0 2em;
  padding: 0;
  text-transform: uppercase;
}

.total-price-li h2 {
  align-self: center;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.calculator {
  background-position: -5% -54px;
  background-repeat: no-repeat;
  background-size: 21em;
  display: flex;
  height: 40vh;
  justify-content: center;
  padding: 4em;
}

.calculator a {
  height: fit-content;
  padding: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  width: 40%;
}

/* ----------------------------------------/
/-----------------CHECKOUT-----------------/
/---------------------------------------- */

.checkout-main {
  align-items: flex-start;
  background-position: 95% 0%;
  background-repeat: no-repeat;
  background-size: 40em;
  display: flex;
  flex-direction: column;
  padding: 4em 6em;
}

.order-details {
  margin: 0 0 2em;
}

.order-details ul {
  padding: 0 2em;
}

.order-details li {
  border-bottom: 1px solid #bbcbd5;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  list-style: none;
  margin: 2em 0;
}

.li-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-details h3 {
  color: #004267;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.order-details strong {
  color: #277eaf;
  font-weight: 600;
}

.order-details h2 {
  color: #004267;
  font-weight: 500;
  margin: 1.3em;
  text-align: end;
}

.checkout-fieldset {
  border: none;
  border-radius: 0.5em;
  padding: 2em 3em 3em;
}

.checkout-fieldset h3 {
  color: #277eaf;
  font-weight: 500;
  margin: 1em 0;
  padding: 0;
}

.checkout-fieldset form {
  display: flex;
  flex-direction: column;
}

.checkout-fieldset form > button {
  align-self: center;
  height: fit-content;
  margin-top: 2em;
  padding: 0.9em;
  text-transform: uppercase;
  width: 40%;
}

.form1 input, select {
  background-color: #eaf2f7;
  border: none;
  border-radius: 0.5em;
  margin: 1em;
  padding: 0.5em;
  width: 230px;
}

.form2 div {
  display: flex;
}

.form2 img {
  height: 4em;
}

.form2 label {
  align-items: center;
  display: flex;
  margin: 1.5em;
}
